<div class="single-product load-product">
    <div class="product-thumb">
        <img src="<%= product.productimage %>" alt="<%= product.name %>">
    </div>
    <div class="product-title">
        <h3> <a href="/single-product/<%= product._id %>"><%= product.name %></a> </h3>
    </div>
    <div class="description">
        <% if(product.description.length <= 50) { %>
            <p><%= product.description %></p>
        <% }else{ %>
            <p><%= product.description.substring(0,50) + "...." %><a class="read-more-btn" href="/single-product/<%= product._id %>"><small><button type="button" style="border: none; background: none; color: cadetblue;">
                Read more <i class="fas fa-arrow-right"></i>
            </button></small></a></p>   
        <% } %>   
    </div>
    <div class="product-btns">
        <span class="btn-s mr-2 price"><%= product.price %>/-</span>
        <span class='btn-s'><a href="/products/like/<%= product._id %>" id="<%= product._id %>"><i class="fa fa-info-circlefa fa-heart"></i><span class="like-count"><%= product.likes %></span></a></span>
    </div>
</div>
